<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
 <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">О приложении</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Задачи</a>
        <div class="dropdown-menu">
          <a href="/ideas" class="dropdown-item">Все задачи</a>
          <a href="/ideas/add" class="dropdown-item">Добавить задачу</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="/users/logout" class="nav-link">Выйти</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/users/login" class="nav-link">Войти</a>
      </li>
      <li class="nav-item">
        <a href="/users/register" class="nav-link">Регистрация</a>
      </li>
      {{/if}}
    </ul>
  </div>
  </div>
 
</nav>