:root {
  --fsize: 16px; 
  --linksize: 18px;
  --title: 42px;
  --spacer: 16px;
  --forth-title: 28px;
}

@media (max-width: 480px) {
  :root {
    --title: 28px;
    --forth-title: 20px;
    --linksize: 14px;
  }  
}

.category {
  font-size: var(--linksize);
}

h4 {
  font-size: var(--forth-title);
}

.logo {
  width: 120px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 12px auto;
}

.main-title {
  font-size: var(--title);
  margin-bottom: var(--spacer);
}


.nav-link {
  font-size: var(--linksize);  
}
