<div class="card card-body">
  <h4 class="mb-3">Задачка</h4>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Заголовок</label>
      <input type="text" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <textarea class="form-control" name="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="category">Категория</label>
      <input class="form-control" name="category" id="category"></input>
    </div>
    <button type="submit" class="btn btn-dark">Добавить в кучу</button>
  </form>
</div>