<div class="card card-body">
  <h4 class="mb-3">Редактировать идею</h4>
  <form action="/ideas/{{id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Заголовок</label>
      <input type="text" class="form-control" name="title" id="title" value="{{ title }}">
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <textarea class="form-control" name="description" id="description">{{ description }}</textarea>
    </div>
    <div class="form-group">
      <label for="category">Категория</label>
      <input class="form-control" name="category" id="category" value="{{category}}"></input>
    </div>
    <button type="submit" class="btn btn-dark">Применить</button>
  </form>
</div>