<h1 class="main-title">Все задачи</h1>
{{#if ideas}}
 <select class="form-control category-select mb-3">
  <option disabled selected>Фильтр по категориям</option> 
  <option value="Все">Все</option>
  </select>
{{/if}}
{{#each ideas}}
<div class="card card-body mb-3">
  <h4>{{ title }}
    <span class="ml-3 badge badge-secondary category" data-category="{{category}}">{{category}}</span>
  </h4>
  <p>{{ description }}</p>
  <div class="d-flex">
    <a href="/ideas/edit/{{id}}" class="btn btn-secondary">Редактировать</a>
    <form action="/ideas/{{id}}?_method=DELETE" class="d-flex ml-3" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger" value="Удалить">
    </form>
  </div>
</div>
{{else}}
<div class="alert alert-danger">Нет задач, надо бы порешать сею неурядицу</div>
<a href="/ideas/add" class="btn btn-dark">Добавить</a>
{{/each}}