<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <div class="logo">
          <img src="/img/idea.png" alt="Logo">
      </div>     
      <h3 class="text-center">Войти</h3>
      <form action="/users/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-dark">Отправить</button>
      </form>
    </div>
  </div>
</div>